{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    //"comma-dangle": ["error", "never"],
    //"arrow-parens": ["error", "as-needed"],
    //"object-curly-newline": ["error", "never"],
    // suppress errors for missing 'import React' in files
    //"react/react-in-jsx-scope": "off",
    // allow jsx syntax in js files (for next.js project)
    //"react/jsx-one-expression-per-line": 1,
    "react/jsx-max-props-per-line": [1, {
      "maximum": 1,
      "when": "always"
    }],
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }] //should add ".ts" if typescript project
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}