{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "ecmaFeatures": {
        "modules": true
    },
    "env": {
        "jest": true
    },
    "globals": {
        "document": true
    },
    "rules": {
        //"comma-dangle": ["error", "never"],
        //"arrow-parens": ["error", "as-needed"],
        //"object-curly-newline": ["error", "never"],
        // suppress errors for missing 'import React' in files
        //"react/react-in-jsx-scope": "off",
        // allow jsx syntax in js files (for next.js project)
        //"react/jsx-one-expression-per-line": 0,
        "react/jsx-filename-extension": [1, {
            "extensions": [".js", ".jsx"]
        }] //should add ".ts" if typescript project
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    }
}